[Unit]
Description=Run YouTube bot user:me
After=network.target pulseaudio.service
Requires=pulseaudio.service

[Service]
User=me
WorkingDirectory=/home/me/TeamTalk5-YouTubeLink
ExecStartPre=/bin/sleep 10
ExecStartPre=/bin/bash -c "source /home/me/TeamTalk5-YouTubeLink/.env/bin/activate && pip install -r /home/me/TeamTalk5-YouTubeLink/requirements.txt"
ExecStart=/home/me/TeamTalk5-YouTubeLink/.env/bin/python /home/me/TeamTalk5-YouTubeLink/youtube_main.py
Restart=always
RestartSec=5
#StandardOutput=journal
#StandardError=journal

[Install]
WantedBy=multi-user.target
